p { 
    margin-left: 50px;
    background-color:gold;
}
body p { 
    background-color: red;
}

.klasse-1 {
    color: royalblue;
}

#id-1 {
    background-color: saddlebrown;
}
p.klasse-1{
    box-sizing: border-box;
    padding: 20px;
    background-color: red;
    height: 75px;
    width: 75px;
}
.klasse-3 {
    width :500px;
    display: block;
}