*{
    box-sizing: border-box;
}
html {
    height: 100%;

}
body{
    height: 100%;
    font-family: sans-serif;

}
header {
    background-color: black;
    width: auto;
    height: 30px;
    margin: 0px;
}
.logo{
    color: white;
    width: auto;
    margin: 0px;
}

header nav a {
    font-style: unset;
    color: salmon;
    float:right;
}

main {
    box-sizing: border-box;
    width: 80%;
    float: right;
    margin: 0px;

}
main h1 {
    margin-top: 30px;

}
main p {
    margin-top: 30px;
    margin-left: 6px;
    font-size: 20px;
}


.image{
    float: left;
    margin-right: 20px;
    margin-top: 40px;
    margin-left: 6px;
}
aside {
    text-align: center;
    background-color: gray;
   width: 204px;
    height: 100%;
}